.dw-search {
    display: flex;

    &__icon {
        padding: 7px;
        width: 1%;
    }

    &__key-filter {
        padding: 7px;
        width: 36%
    }

    &__value-filter {
        padding: 7px;
        width: 35%;
    }

    &__local-chooser-country-filter {

        padding: 7px;
        width: 13%;
    }

    &__local-chooser-language-filter {

        padding: 7px;
        width: 13%;
    }

    &__settings {
        padding: 7px;
        width: 2%;
    }
}
